body{
    background-color: #f0cd0b;
}
div{
    margin: auto auto;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}
#title{
    font-family: monospace;
    letter-spacing: 2px;
}
#canvas{
    width: 60%;
    /* height: 30%;     */
    background-color: #eee;
    border: 3px solid black;
}
button{
    font-family: monospace;
    font-size: xx-large;
    background-color: transparent;    
}